# Data Analysis in a Jupyter Notebook

## Social media data

<center>![okcupid](img/okcupid-logo.jpg)</center>

<img src="img/okcupid-book.jpg" width="30%" align="left"/>
<img src="img/keystroke1.png" width="60%" align="right"/>

In the chart, the message A took 76minutes to author (source: dataclysm book)

<img src="img/okcupid-book.jpg" width="30%" align="left"/>
<img src="img/keystroke2.png" width="60%" align="right"/>

The previous graph suffers from overplotting, making it difficult to appreciate how many datapoints share the same property. A nice way to make such information visible is to have semi-transparent data points, so we see where several points are overlaid.

# Exploratory Data Analysis

> "To show \[a certain\] finding, we'll have to go on a short mathematical journey. These kinds of exercises are
what make data science work. To put together puzzles, you have to lay out all the pieces and then just start trying things. In the absence of careful sifting, reduction, and parsimony, **very little just “jumps out at you from terabytes of raw data.**" 

<center>— Christian Rudder, *Dataclysm*</center>

<center>![](img/tukey.png)</center>

# Exploratory Data Analysis (Tukey, 1977)

* Detective activity: search of clues.
* Some clues will be misleading, but some will lead to discoveries
* Highly visual: relies heavily on graphical display
* Does **not** replace confirmatory analysis *but* it is necessary to first discover facts, before they are confirmed.

# Let's investigate!

## Live demonstration
1. Can we use the data? 
> We need to check the terms online. See OkCupid terms page. See the details of the available data (R package, github repo) 

2. Create a new jupyter notebook for performing exploratory data analysis
> See [the notebook](https://github.com/JSC270/JSC270.github.io/blob/master/notebooks/Class1-EDA_OkCupid.ipynb) created in class with additional comments

# Can we use the data?

![](img/okc_terms2.png)
![](img/okc_terms1.png)

Source: [Ok Cupid Terms and conditions](https://www.okcupid.com/legal/terms)

# Can we use the data?

![](img/okc_terms3.png)

Source: [Ok Cupid Terms and conditions](https://www.okcupid.com/legal/terms)

# Can we use the data?

![](img/okc_paper1.png)
![](img/okc_paper2.png)

Source: [OkCupid Data for Introductory Statistics and Data
Science Courses (A. Kim, A. Escobedo-Land)](https://amstat.tandfonline.com/doi/abs/10.1080/10691898.2015.11889737#.XDVg_s9KjGJ)

# Are the data collection methods documented?

![](img/okc_doc.png)

Source: [Github companion repository](https://github.com/rudeboybert/JSE_OkCupid/blob/master/okcupid_codebook.txt)

# Lessons learned: data is noisy

* anomalies and artificats (can be identified and corrected for)
* sincerity, subjectivity (data can be biased: e.g: "Are you brushing your teeth every morning?": very few people would admit they don't even if they don't)
* controlled input (e.g. "What transportations do you use to go to your classes? (TTC, car, walk)": what if none of the categories work, and I am forced to pick one?)  

In the following example, is the data about this OkCupid profile truthful or dubious?

In [11]:
df = pd.read_csv('data/profiles.csv')
df.loc[df['age'] == 109]

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
25324,109,athletic,mostly other,NaN,never,working on masters program,NaN,NaN,NaN,nothing,...,"san francisco, california",might want kids,straight,NaN,other and somewhat serious about it,m,aquarius but it doesn&rsquo;t matter,when drinking,english (okay),available

# Lessons learned: Data is only partial

* completeness, timeliness are impossible to achieve fully
* only what we *decide*, and *are able to* collect

In the following example, the profile is incomplete, resulting in data missing for analysis:

In [14]:
df.loc[df['age'] == 110]

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
2512,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"daly city, california",NaN,straight,NaN,NaN,f,NaN,NaN,english,single

# Exercise: What is a typical female and male user?

We can do an interesting thought-experiment by asking “what is the hybrid of the most frequent value (i.e. mode) of each user-variable?” 

*Hint: Compute, for each column, the value corresponding the most frequencly occurring (mode) of that set.*

# From data to insights

* Not trivial
* Requires a lot of exploring (finding clues) and failures 
* Requires creativity: Find intereting questions to ask
* Requires discernment (beware of confirmatory bias!)
* Requires critical thinking
* Requires rigor and ethics