# JSC270 - Class \#2
## Prof. Chevalier

### Today's Class

- Reporting & Storytelling in Data Science
- Asking Research Questions
- Data scraping and wrangling

# Reporting & Storytelling in Data Science

Examine the data science report about [Nike shoes](https://jsc270.github.io/docs/report-nike.pdf).

**Question** What are the strengths of this report? What are the weaknesses of this report?

<br>
<br>

# What is Data Science?

<br>

<center> <h3><i>The science of learning from data. </i></h2></center>

# Formulating Research Questions

- Ask a lot of questions, be critical
- Think about the problem: who? what? how? why? where? when?
- Use answers and findings to ask interesting follow-up questions


> Think about something that you do for yourself that is healthy.

> A shoe company you work for gave out customer coupons and had a one-day sale event at the end of the year. Was the coupon operation profitable?

In [186]:
import csv

df = pd.read_csv('coupons.csv')
df.head()

   id coupon_code  discount  sku  quantity
0   0        None       1.0    9         3
1   1    coupon80       0.8    9         2
2   2      xmas70       0.7    1         3
3   3    coupon80       0.8   14         3
4   4        None       1.0    4         4

# Asking Good Research Questions: Challenge the conclusions

# Asking Good Research Questions: Clarify key terms

<br>

> Do people run often because it makes them happier?

# Asking Good Research Questions: Root out assumptions

<br>

> After examination of customer service data, a company's analysts realize that the company has a high percentage of people calling in to order products. The company wants to encourage customer to use the web site or mobile app.

# Critical Reasoning

In [15]:
import pandas as pd

df = pd.read_csv('babies.csv', sep=";")
df.columns

Index(['gender', 'couple', 'babies', 'job'], dtype='object')

In [16]:
df["babies"].mean()

1.7083333333333333

In [17]:
df.head()

   gender  couple  babies        job
0  female       1       2  secretary
1    male       1       2    stewart
2  female       2       1  professor
3    male       2       1       none
4  female       3       2     lawyer

# Data Wrangling

- Data wrangling/manipulation/transformation has a large impact on the data used to answer questions with data.

- Statistical and machine learning models are meaningful only if the data is meaningful.

- Data wrangling/manipulation is one point in the data analysis process where decisions can introduce bias into the data.  Examples?

<a href='https://www.nytimes.com/interactive/2019/01/11/us/politics/trump-border-crisis-reality.html'> <img src='nyttrump.png'> </img> </a>

<img src="legal-immigration.png" style="width: 70%;"></img>

# Top 10 Lists from criterion.com

The following list contains all top 10 lists from criterion.com, extracted computationnally with beautifulsoup (see Class 1)

In [207]:
import pandas as pd

df = pd.read_csv('top10-lists.csv')
df.shape
df.tail(30)

,author,director,ranks,title
273,Ari Aster’s Top10,Michael Powell and Emeric Pressburger,6,The Red Shoes
274,Ari Aster’s Top10,Michael Powell and Emeric Pressburger,6,The Life and Death of Colonel Blimp
275,Ari Aster’s Top10,Michael Powell and Emeric Pressburger,6,A Matter of Life and Death
276,Ari Aster’s Top10,Michael Powell and Emeric Pressburger,6,Black Narcissus
277,Ari Aster’s Top10,Michael Powell and Emeric Pressburger,6,I Know Where I’m Going!
278,Ari Aster’s Top10,Edward Yang,7,Yi Yi
279,Ari Aster’s Top10,Edward Yang,7,A Brighter Summer Day
280,Ari Aster’s Top10,Michael Haneke,8,The Piano Teacher
281,Ari Aster’s Top10,Roman Polanski,9,Cul-de-sac
282,Ari Aster’s Top10,Roman Polanski,9,Repulsion
283,Ari Aster’s Top10,Roman Polanski,9,Rosemary’s Baby
284,Ari Aster’s Top10,Roman Polanski,9,Macbeth
285,Ari Aster’s Top10,Satyajit Ray,10,Pather Panchali
286,Ari Aster’s Top10,Satyajit Ray,10,Aparajito
287,Ari Aster’s Top10,Satyajit Ray,10,Apur Sansar
288,Sloane Crosley’s Top10,Stanley Kubrick,1,"Dr. Strangelove, or: How I Learned to Stop Wor..."
289,Sloane Crosley’s Top10,Ingmar Bergman,2,Fanny and Alexander: Theatrical Version
290,Sloane Crosley’s Top10,Michael Powell and Emeric Pressburger,3,The Red Shoes
291,Sloane Crosley’s Top10,Spike Lee,4,Do the Right Thing
292,Sloane Crosley’s Top10,James L. Brooks,5,Broadcast News
293,Sloane Crosley’s Top10,Sydney Pollack,5,Tootsie
294,Sloane Crosley’s Top10,Alexander Mackendrick,5,Sweet Smell of Success
295,Sloane Crosley’s Top10,Richard Linklater,6,Dazed and Confused
296,Sloane Crosley’s Top10,Whit Stillman,6,Metropolitan
297,Sloane Crosley’s Top10,Whit Stillman,6,Barcelona
298,Sloane Crosley’s Top10,Noah Baumbach,6,Kicking and Screaming
299,Sloane Crosley’s Top10,Hal Ashby,7,Harold and Maude
300,Sloane Crosley’s Top10,John Cassavetes,8,A Woman Under the Influence
301,Sloane Crosley’s Top10,Terrence Malick,9,Days of Heaven
302,Sloane Crosley’s Top10,Rob Reiner,10,This Is Spinal Tap

Is the data usable as is?

# pandas

# Series

A Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its index. The simplest Series is formed from only an array of data.

In [209]:
import pandas as pd

myseries = pd.Series([8.4, 6.11, 53.4, 20.1])
print(myseries)
movies = ['All About Eve', 'A Woman Under the Influence', 'RoboCop', 'Mulholland Dr.']
myseries.index = movies
myseries

0     8.40
1     6.11
2    53.40
3    20.10
dtype: float64

All About Eve                   8.40
A Woman Under the Influence     6.11
RoboCop                        53.40
Mulholland Dr.                 20.10
dtype: float64

# pandas DataFrame

- A DataFrame represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

- The DataFrame has both a row and column index; it can be thought of as a dict of Series all sharing the same index.

- Under the hood, the data is stored as one or more two-dimensional blocks rather than a list, dict, or some other collection of one-dimensional arrays. 

(McKinney, 2018 and [pandas ref](https://pandas.pydata.org))

In [19]:
# a dict of equal length lists
movies = {'movie':['All About Eve', 'A Woman Under the Influence', 'RoboCop', 'Mulholland Dr.'], 
          'box_office': [8.4, 6.11, 53.4, 20.1],
         'year': [1950, 1974, 1987, 2001]}
df = pd.DataFrame(movies)
df

                         movie  box_office  year
0                All About Eve        8.40  1950
1  A Woman Under the Influence        6.11  1974
2                      RoboCop       53.40  1987
3               Mulholland Dr.       20.10  2001

- pandas can read and write data in many types of formats (text, binary, SQL) that are stored as csv, json, html, etc.  (see [IO tools](http://pandas.pydata.org/pandas-docs/stable/io.html) )

- For example, `read_html` accepts an HTML string/file/URL and will parse an HTML tables into a list of pandas DataFrames.

In [20]:
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_films'
df = pd.read_html(url, header=0)
movies = df[1]  # select table of movies
movies.head()

   Rank               Title Worldwide gross (2019 $)  Year
0     1  Gone with the Wind           $3,713,000,000  1939
1     2              Avatar           $3,263,000,000  2009
2     3             Titanic          T$3,087,000,000  1997
3     4           Star Wars           $3,049,000,000  1977
4     5   Avengers: Endgame         AE$2,798,000,000  2019

# Filtering rows (observations)

- Select the top 10 movies.

- `movies[0:10]` retains only the top 10 rows.

- This uses the "slice" syntax.

In [21]:
movies[0:10]

   Rank                         Title Worldwide gross (2019 $)  Year
0     1            Gone with the Wind           $3,713,000,000  1939
1     2                        Avatar           $3,263,000,000  2009
2     3                       Titanic          T$3,087,000,000  1997
3     4                     Star Wars           $3,049,000,000  1977
4     5             Avengers: Endgame         AE$2,798,000,000  2019
5     6            The Sound of Music           $2,554,000,000  1965
6     7    E.T. the Extra-Terrestrial           $2,493,000,000  1982
7     8          The Ten Commandments           $2,361,000,000  1956
8     9                Doctor Zhivago           $2,238,000,000  1965
9    10  Star Wars: The Force Awakens           $2,206,000,000  2015

**Exercise:** 
- Remove the top row using the "slice" syntax
- Retain the movies ranked between 5 and 10 only using the "slice" syntax

Use `.loc` to select by row index and column name.  What is the title of the movie of rank 10?

In [22]:
movies.loc[9, 'Title']

'Star Wars: The Force Awakens'

Modify values in place using `.loc`.

In [23]:
## Write the code to replace the title of the movie at row index 9 with "Star Wars VII"

We can also select rows using integers with `iloc`.  The 2nd column has index value 1.

In [24]:
## Write the code to access row index 9 and column title, using indexes only

We can also use boolean logic to select rows.

In [25]:
# Extend the code to keep only movies whose year is also before 2000.

movies[0:10][pd.to_numeric(movies['Year'][0:10]) >= 1950]

   Rank                         Title Worldwide gross (2019 $)  Year
1     2                        Avatar           $3,263,000,000  2009
2     3                       Titanic          T$3,087,000,000  1997
3     4                     Star Wars           $3,049,000,000  1977
4     5             Avengers: Endgame         AE$2,798,000,000  2019
5     6            The Sound of Music           $2,554,000,000  1965
6     7    E.T. the Extra-Terrestrial           $2,493,000,000  1982
7     8          The Ten Commandments           $2,361,000,000  1956
8     9                Doctor Zhivago           $2,238,000,000  1965
9    10  Star Wars: The Force Awakens           $2,206,000,000  2015

# Selecting variables (columns)


- `movies['Title']` returns a pandas series (i.e., data frame with one column).

In [26]:
movies['Title'].head()

0    Gone with the Wind
1                Avatar
2               Titanic
3             Star Wars
4     Avengers: Endgame
Name: Title, dtype: object

# Creating New Variables

Suppose we want to add a new variable to the data frame to indicate if a movie's gross is over $2.5 millions.

In [28]:
# We start by renaming the coloum
movies.rename(columns={'Worldwide gross (2019 $)':'Gross'}, 
                 inplace=True)
movies.columns

Index(['Rank', 'Title', 'Gross', 'Year'], dtype='object')

In [29]:
movies['Gross'].describe()

count                 10
unique                10
top       $2,206,000,000
freq                   1
Name: Gross, dtype: object

In [31]:
# Extend and modify this code to clean up all of the values in the 'gross' column

(movies['Gross']
 .replace('\$','', regex = True))[0:2]

0    3,713,000,000
1    3,263,000,000
Name: Gross, dtype: object

# Movies in 2019

**Questions:** 

- What is the distribution of box office revenue in 2019 for American Movies?
- What are the genres generating the most revenue?
- Is there a relationship between the ratings from imdb and metacritic? 

The Wikipedia page [American films of 2019](https://en.wikipedia.org/wiki/List_of_American_films_of_2019) lists American films in 2019.

<img src='film-2019.png' height="500" width="600" ></img>

In [154]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2019'
df = pd.read_html(url, attrs = {"class":"wikitable sortable"})
df[0].head()

,Opening,Opening.1,Title,Production company,Cast and crew,Genre,Ref.
0,JANUARY,4,Escape Room,Columbia Pictures,"Adam Robitel (director); Bragi F. Schut, Maria...","Horror, Thriller, Mystery",[2]
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,"Drama, Thriller, Horror",[3]
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,Thriller,[4]
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,"Drama, Family",[5]
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,"Comedy, Drama",[6]

**Exercise:** Extract all of the unique genres listed in the table.

# Movies awarded the Palme d'Or

The Wikipedia Page [Palme d'Or](https://en.wikipedia.org/wiki/Palme_d%27Or) lists Palme d'Or-winning films.

<img src='plamedor.png' height="500" width="600" ></img>

In [222]:
url = 'https://en.wikipedia.org/wiki/Palme_d%27Or'
df = pd.read_html(url, header=0)
movies = df[1]  # select table of movies
movies.head(20)

,Year,Film,Original title,Director(s),Country
0,1930s,1930s,1930s,1930s,1930s
1,"Awarded as ""Grand Prix du Festival Internation...","Awarded as ""Grand Prix du Festival Internation...","Awarded as ""Grand Prix du Festival Internation...","Awarded as ""Grand Prix du Festival Internation...","Awarded as ""Grand Prix du Festival Internation..."
2,1939 ‡,Union Pacific,Union Pacific,Cecil B. DeMille,USA
3,1940s,1940s,1940s,1940s,1940s
4,1940–1945,No awards due to World War II.,No awards due to World War II.,No awards due to World War II.,No awards due to World War II.
5,1946,The Turning Point,Velikij perelom / Великий перелом,Fridrikh Ermler,USSR
6,1946,Men Without Wings,Muži bez křídel,František Čáp,Czechoslovakia
7,1946,The Last Chance,Die Letzte Chance,Leopold Lindtberg,Switzerland
8,1946,Torment,Hets,Alf Sjöberg,Sweden
9,1946,Portrait of Maria,María Candelaria,Emilio Fernández,Mexico
10,1946,"Rome, Open City","Roma, città aperta",Roberto Rossellini,Italy
11,1946,Neecha Nagar (Lowly City),Nīcā nagar / नीचा नगर,Chetan Anand,India
12,1946,Brief Encounter,Brief Encounter,David Lean,United Kingdom
13,1946,Pastoral Symphony,La symphonie pastorale,Jean Delannoy,France
14,1946,The Lost Weekend,The Lost Weekend,Billy Wilder,USA
15,1946,The Red Meadows,De røde enge,"Bodil Ipsen and Lau Lauritzen, Jr.",Denmark
16,1949,The Third Man,The Third Man,Carol Reed,United Kingdom
17,1950s,1950s,1950s,1950s,1950s
18,1951,Miss Julie,Fröken Julie,Alf Sjöberg,Sweden
19,1951,Miracle in Milan,Miracolo a Milano,Vittorio De Sica,Italy

- `read_html` didn't parse the table properly.

>Expect to do some cleanup after you call this function. For example, you might need to manually assign column names if the column names are converted to NaN when you pass the header=0 argument. We try to assume as little as possible about the structure of the table and push the idiosyncrasies of the HTML contained in the table to the user (see `pandas.read_html` [API ref](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html)).

- Cleaning this table requires selecting rows manually.

In [11]:
# Write the code to remove the first row

In [13]:
# Write the code to clean up the rows

# Award-winning movies

The Wikipedia Page [Cannes Film Festival Award for Best Director](https://en.wikipedia.org/wiki/Cannes_Film_Festival_Award_for_Best_Director) lists award-winning movies for best director.

<img src='cannes.png' height="500" width="600" ></img>

In [151]:
url = 'https://en.wikipedia.org/wiki/Cannes_Film_Festival_Award_for_Best_Director'
df = pd.read_html(url, header=0)
awards = df[0]  # select table of movies
awards.head()

    Year      Director                     Film       Original Title   Country
0  1940s         1940s                    1940s                1940s     1940s
1   1946  René Clément  The Battle of the Rails  La Bataille du rail    France
2   1947      no award                 no award             no award  no award
3   1949  René Clément    The Walls of Malapaga  Au-delà des grilles    France
4  1950s         1950s                    1950s                1950s     1950s

In [146]:
# we just want the movie names
from urllib.request import urlopen
from bs4 import BeautifulSoup

webpage = 'https://en.wikipedia.org/wiki/Cannes_Film_Festival_Award_for_Best_Director'
page = urlopen(webpage)
soup = BeautifulSoup(page, 'html.parser')

# css selection 
# select all <i> tag elements within <td> within <tr> elements 
# within <tbody> elements see 
# https://www.w3schools.com/cssref/css_selectors.asp 

movie=soup.select('tbody tr td i') 
type(movie) # returns a list of <i> tag elements on the page

# extract text part of tag using 
# list comprehension
names = [m.get_text() for m in movie] 

# by inspection we see rows 25:291
# correspond to movie names

names

['The Battle of the Rails',
 'La Bataille du rail',
 'The Walls of Malapaga',
 'Au-delà des grilles',
 'The Young and the Damned',
 'Los Olvidados',
 'Fanfan la Tulipe',
 'Rififi',
 'Du rififi chez les hommes',
 'Heroes of Shipka',
 '(Geroi Shipki)',
 'Othello',
 'Отелло',
 'A Man Escaped or: The Wind Bloweth Where It Listeth',
 "Un condamné à mort s'est échappé ou Le vent souffle où il veut",
 'Brink of Life',
 'Nära livet',
 'The 400 Blows',
 'Les Quatre Cents Coups',
 'The Story of the Flaming Years',
 '(Povest plamennykh let)',
 'Forest of the Hanged',
 'Pădurea spânzuraților',
 'Lenin in Poland',
 '(Lenin v Polshe)',
 'Ten Thousand Days',
 'Tízezer nap',
 'Antonio das Mortes',
 'O Dragão da Maldade contra o Santo Guerreiro',
 'All My Compatriots',
 'Všichni dobří rodáci',
 'Leo the Last',
 'Red Psalm',
 'Még kér a nép',
 'Orderers',
 'Les Ordres',
 'Special Section',
 'Section spéciale',
 'Down and Dirty',
 'Brutti, sporchi e cattivi',
 'Empire of Passion',
 'Ai no Bōrei',
 'Days of Heaven',
 'Fitzcarraldo',
 'Money',
 "L'Argent",
 'Nostalgia',
 'Nostalghia',
 'A Sunday in the Country',
 'Un dimanche à la campagne',
 'Rendez-vous',
 'After Hours',
 'Wings of Desire',
 'Der Himmel über Berlin',
 'South',
 'Sur',
 'Time of the Gypsies',
 'Dom za vešanje)',
 'Taxi Blues',
 '(Taksi-Blyuz)',
 'Barton Fink',
 'The Player',
 'Naked',
 'Dear Diary',
 'Caro diario',
 'Hate',
 'La Haine',
 'Fargo',
 'Happy Together',
 '(Ceon gwong za sit)',
 'The General',
 'All About My Mother',
 'Todo sobre mi madre',
 'A One and a Two',
 'Yi Yi)',
 "The Man Who Wasn't There",
 'Mulholland Drive',
 'Painted Fire',
 'Chi-hwa-seon)',
 'Punch-Drunk Love',
 'Elephant',
 'Exiles',
 'Hidden',
 'Caché',
 'Babel',
 'The Diving Bell and the Butterfly',
 'Le Scaphandre et le Papillon',
 'Three Monkeys',
 'Üç Maymun',
 'Butchered',
 'Kinatay',
 'On Tour',
 'Tournée',
 'Drive',
 'Post Tenebras Lux',
 'Heli',
 'Foxcatcher',
 'The Assassin',
 'Cìkè Niè Yǐnniáng)',
 'Graduation',
 'Bacalaureat',
 'Personal Shopper',
 'The Beguiled',
 'Cold War',
 'Zimna wojna',
 'Young Ahmed',
 'Le Jeune Ahmed',
 "Palme d'Or",
 "Palme d'Or"]

<a href="https://pypi.org/project/omdb/"><img src="omdb.png" style="width:75%;"> </img></a>

Install Python package [omdb](https://pypi.org/project/omdb/) using `pip` or access the API directly.

In [168]:
!pip install omdb

Requirement already satisfied: omdb in /usr/local/lib/python3.7/site-packages (0.10.1)
Requirement already satisfied: requests>=2.0.1 in /usr/local/lib/python3.7/site-packages (from omdb) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/site-packages (from requests>=2.0.1->omdb) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.7/site-packages (from requests>=2.0.1->omdb) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/site-packages (from requests>=2.0.1->omdb) (2019.6.16)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/site-packages (from requests>=2.0.1->omdb) (1.25.3)

In [14]:
#install omdb using pip

import omdb

API_KEY = '' #fill in your key here

omdb.set_default('apikey', API_KEY)
movie1 = omdb.title('Robocop')
movie1 #returns a dict

HTTPError: 401 Client Error: Unauthorized for url: http://www.omdbapi.com/?t=Robocop&page=1&plot=short&apikey=

In [176]:
print(movie1['actors'], '\n \n', movie1['box_office'])

Peter Weller, Nancy Allen, Dan O'Herlihy, Ronny Cox

 N/A

In [177]:
# easy to import directly into pandas
import pandas as pd
pd.DataFrame(movie1)

,title,year,rated,released,runtime,genre,director,writer,actors,plot,...,metascore,imdb_rating,imdb_votes,imdb_id,type,dvd,box_office,production,website,response
0,RoboCop,1987,R,17 Jul 1987,102 min,"Action, Crime, Sci-Fi, Thriller",Paul Verhoeven,"Edward Neumeier, Michael Miner","Peter Weller, Nancy Allen, Dan O'Herlihy, Ronn...","In a dystopic and crime-ridden Detroit, a term...",...,67,7.5,"219,592",tt0093870,movie,02 Oct 2001,N/A,Orion Pictures Corporation,N/A,True
1,RoboCop,1987,R,17 Jul 1987,102 min,"Action, Crime, Sci-Fi, Thriller",Paul Verhoeven,"Edward Neumeier, Michael Miner","Peter Weller, Nancy Allen, Dan O'Herlihy, Ronn...","In a dystopic and crime-ridden Detroit, a term...",...,67,7.5,"219,592",tt0093870,movie,02 Oct 2001,N/A,Orion Pictures Corporation,N/A,True
2,RoboCop,1987,R,17 Jul 1987,102 min,"Action, Crime, Sci-Fi, Thriller",Paul Verhoeven,"Edward Neumeier, Michael Miner","Peter Weller, Nancy Allen, Dan O'Herlihy, Ronn...","In a dystopic and crime-ridden Detroit, a term...",...,67,7.5,"219,592",tt0093870,movie,02 Oct 2001,N/A,Orion Pictures Corporation,N/A,True